*,
::before,
::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    // font-family: 'Gantari', sans-serif;
    font-family: 'Manrope', sans-serif;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    // list-style: none;
    padding-left: 0;
}

img {
    display: block;
    width: 100%;
    border-radius: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}


button {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    background-color: inherit;
    cursor: pointer;
}



.container {
    margin: auto;
    // outline: 1px solid tomato;
    max-width: 1200px;
    // padding-left: 24px;
    // padding-right: 24px;

}