.image-wrapper {
    width: 100%;
}


.main-wrap {
    padding-top: 51px;
    padding-bottom: 150px;
    width: 595px;
    margin: auto;
    background-color: #D2D4DA;
    box-shadow: 4px 4px 8px rgb(102, 123, 119);
}

.main-image {
    margin-bottom: 32px;
    border-radius: 50%;
}

.container {
    display: flex;
    gap: 20px;
}

.column-one {
    width: 33.33%;
    // &__list-one {}

    &__line {
        display: block;
        width: 100%;
        height: 1px;
        background-color: var(--main-text-color);
        margin-bottom: 18px;
    }

    // &__list-two {}
}

.list-one {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;

    &__item {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.33;
        text-transform: uppercase;


    }
}

.list-two {

    &__item {



        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    &__link {
        text-decoration: none;
        color: var(--main-text-color);
        font-size: 12.5px;
        line-height: .9;
        transition: color 250ms var(--cubik);
        padding: 6px 0;

        &:hover,
        &:focus {
            color: var(--hover-color);
        }

    }
}

.column-two {

    &__title {
        font-size: 31px;
        line-height: .8;
        text-transform: uppercase;
        margin-bottom: 8px;
        letter-spacing: 1.5px;
    }

    &__subtitle {

        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: 1px var(--main-text-color);
        font-size: 28px;
        line-height: .8;
        letter-spacing: 1.5px;
        margin-bottom: 30px;
    }

    &__first-column {}

    &__second-column {}
}

.column-two-wrapper {
    display: flex;
    gap: 20px;

}

.first-column {
    width: calc((100% - 20px)/2);

    &__list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4px;
    }

    &__item {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.33;
        text-transform: uppercase;
    }

    &__line {
        display: block;
        width: 100%;
        height: 1px;
        background-color: var(--main-text-color);
        margin-bottom: 18px;
    }

    &__wrap:not(:last-child) {
        margin-bottom: 20px;
    }

    &__date {
        margin-bottom: 8px;
    }

    &__title {
        margin-bottom: 12px;
    }

    &__discription {}
}

.second-column {
    width: calc((100% - 20px)/2);

    &__list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4px;
    }

    &__item {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.33;
        text-transform: uppercase;

    }

    &__line {
        display: block;
        width: 100%;
        height: 1px;
        background-color: var(--main-text-color);
        margin-bottom: 18px;
    }
}

.skills-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 12px;
}

.hard-skills {

    &__item {}
}

.soft-skills {

    &__item {}
}

.languages {

    &__item {}

    &__list {}
}

.languages-list {
    display: flex;
    justify-content: space-between;

    &__item {
        // 
    }
}