.resume-container {
    display: flex;
    box-shadow: 5px 4px 13px -6px rgba(42, 139, 224, 1);

}

.resume {
    background-color: rgb(250, 250, 250);
    max-width: 1024px;
    margin: auto;

    &__left-side {
        padding: 50px 0;
        background-color: var(--main-back-color);
        padding-right: 80px;
        padding-left: 50px;
    }

    &__image-wrap {
        margin-bottom: 60px;
        width: 300px;
    }

    &__image {}

    &__contacts {}

    &__tech-skills {}

    &__soft-skills {}

    &__lang {}

    &__right-side {}
}

// .container {}

// .left-side {}

.contacts {
    margin-bottom: 36px;

    &__title {}

    &__list {
        list-style: none;

    }

    &__item {
        font-weight: 300;
        font-size: 17px;
    }

    &__link {}

    &__aderss {}
}

.sub-title {
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 12px;
    letter-spacing: 2.5px;
    font-size: 24px;
    line-height: 1.3;

}

.tech-skills {
    margin-bottom: 36px;

    &__title {}

    &__list {
        margin-left: 18px;

    }

    &__item {
        font-weight: 300;
        font-size: 17px;
    }
}

.soft-skills {
    margin-bottom: 36px;

    &__title {}

    &__list {
        margin-left: 18px;

    }

    &__item {
        font-weight: 300;
        font-size: 17px;
    }
}

.languages {

    &__title {}

    &__list {
        margin-left: 18px;

    }

    &__item {
        font-weight: 300;
        font-size: 17px;
    }
}

.left-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.right-side {

    &__head {
        background-color: var(--main-back-color);

        padding: 20px 0 30px 80px;
    }

    &__title {
        font-size: 55px;
        font-weight: 800;
        line-height: 1.12;
        letter-spacing: 4px;
        text-transform: uppercase;

        margin-bottom: 8px;
    }

    &__descr {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 6px;

    }

    &__section {

        padding: 20px 40px 20px 20px;
    }
}

// .section {

//     &__sum {}

//     &__proj-exp {}

//     &__education {}
// }

.summary {
    margin-bottom: 30px;

    &__title {}

    &__desc {
        font-size: 22px;
        line-height: 1.2;
        font-weight: 300;
    }
}

.proj-exp {
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 300;

    &__title {}

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    &__dot {}

    &__stack {}

    &__link {
        &:hover {
            color: rgb(0, 110, 130);
        }
    }

    &__icon {
        fill: currentColor;
    }

    &__wrap {
        display: flex;
    }

    &__text {
        font-size: 20px;
    }

    &__link {}
}

.education {
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 300;

    &__title {}

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }
}

.education-item {

    &__title {}

    &__text {}
}